/* add your CSS here */
*
{
	box-sizing: border-box;
}
.Main-block
{
	width:330px;
	height: auto;
	border:1px solid silver;
	box-shadow: 10px 10px 0px -1px rgba(191,191,191,0.19);
	margin:10px;
}
.p-12 h3
{
	font-weight: bolder;
}
.p-12
{
	padding:12px;
}
.inner-content
{
	border: 1px solid silver;
	width:300px;
}
.black
{
	width:300px;
	height:auto;
}
.inner-content ul
{
	list-style-type: none;
	padding-left:10px;
}
.inner-content ul span
{
	font-weight: bold;
}
.p-10
{
	padding-left:10px;
}